* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(231, 229, 229);
  main::before {
    display: none;
  }
  main {
    aside {
      display: none;
    }
  }
}
header {
  nav {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    i {
      font-size: 30px;
      margin-top: 5px;
    }
    img {
      width: 70px;
      border-radius: 50px;
    }
  }
}
main {
  .myportfolio {
    div:nth-child(1) {
      a {
        margin: 25px 0;
        text-decoration: none;
        color: black;
        font-size: 35px;
      }
    }
    div {
      display: flex;
      padding-left: 15px;
      align-items: center;
      flex-wrap: wrap;
      div:first-child {
        p:first-child {
          margin-left: -15px;
        }
        p:nth-child(2) {
          background-color: black;
          color: white;
          padding: 10px 15px;
          margin-left: 20px;
          cursor: pointer;
        }
        p:nth-child(2):hover {
          background-color: gray;
        }
      }
      .art_nav-photos {
        display: none;
        i {
          display: none;
        }
        p {
          display: none;
        }
      }
      .nav-button {
        background-color: white;
        padding: 10px 15px;
        margin-left: 5px;
        margin-right: 15px;
        cursor: pointer;
        i {
          background-color: white;
        }
        p {
          background-color: white;
          padding-left: 17px;
        }
      }
    }
    .line {
      border-bottom: 5px solid gray;
      margin: 15px;
    }
  }
  // ---------------------------container_of_photos---------------------------
  .container_of_photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div {
      margin: 15px;
      background-color: white;
      img {
        width: 100%;
      }
      div {
        p:first-child {
          font-size: 17px;
          font-weight: bold;
        }
        p:nth-child(2) {
          padding: 18px 0;
        }
      }
    }
  }
  // --------------------pagination----------------
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 10px;
      padding: 25px;
    }
    a {
      color: black;
      text-decoration: none;
      font-size: 16px;
      padding: 10px 15px;
      cursor: pointer;
    }
    a:hover {
      background-color: black;
      color: white;
    }
    a:nth-child(2) {
      background-color: black;
      color: white;
    }
    a:nth-child(2):hover {
      background-color: gray;
      color: black;
    }
  }
  // ---------------------girls-photo---------------------
  .girls_photo {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
    img {
      display: block;
      width: 100%;
      margin: 0 20px;
    }
  }
  // -------------------about-me--------------------
  .about_me {
    margin: 15px;
    a {
      text-decoration: none;
      color: black;
      font-size: 20px;
      font-weight: bold;
      margin: 0 5px;
    }
    p {
      margin: 20px 5px;
    }
  }
  .technical_skills {
    margin: 40px 20px;
    p:first-child {
      font-size: 20px;
    }
    .names {
      padding: 15px 0;
    }
    .percents {
      width: 100%;
      background-color: rgb(134, 131, 131);
      p {
        font-size: 15px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.897);
        padding: 10px 0;
        text-align: center;
        background-color: rgb(62, 63, 63);
      }
      .p_95 {
        width: 95%;
      }
      .p_85 {
        width: 85%;
      }
      .p_80 {
        width: 80%;
      }
    }
  }
  .download_resume {
    button {
      background-color: rgb(62, 63, 63);
      border: none;
      font-size: 18px;
      padding: 15px 20px;
      margin: 0 20px;
      color: white;
      i {
        padding-right: 10px;
      }
    }
    button:hover {
      background-color: rgb(134, 131, 131);
      color: black;
    }
  }
  .charge {
    margin: 20px;
    margin-top: 50px;
    p {
      font-size: 20px;
    }
  }
  // --------------------three_buttons-----------------------
  .three_buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .button_wrapper {
      width: 600px;
      margin: 10px 20px;
      background-color: rgba(255, 255, 255, 0.836);
      text-align: center;
      div:first-child {
        background-color: rgb(62, 63, 63);
        h2 {
          border: 1px solid rgb(146, 146, 146);
          border-bottom: none;
          color: rgba(255, 255, 255, 0.849);
          padding: 25px 0;
        }
        .pro {
          background-color: rgba(0, 255, 255, 0.76);
          border-bottom: none;
          border: 1px solid rgb(146, 146, 146);
        }
      }
      p {
        color: rgba(62, 63, 63, 0.651);
        padding: 25px 0;
        border: 1px solid rgb(146, 146, 146);
        border-bottom: none;
      }
      .permonth {
        display: flex;
        justify-content: center;
        border: 1px solid rgb(146, 146, 146);
        border-bottom: none;
        p {
          border: none;
          padding: 15px;
          width: 105px;
          line-height: 40px;
          b {
            font-size: 35px;
          }
          span {
            font-size: 27px;
          }
        }
      }
      .sign_up {
        background-color: rgba(134, 131, 131, 0.253);
        padding: 20px 0;
        border: 1px solid rgb(146, 146, 146);
        button {
          border: none;
          font-size: 18px;
          padding: 10px 15px;
          background-color: rgba(0, 255, 255, 0.425);
          color: rgba(255, 255, 255, 0.89);
        }
      }
    }
  }
  // ------------------contact------------------------
  .contact_container {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.322);
    h2 {
      padding: 20px;
    }
    .contact_wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 20px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.637);
      div {
        width: 100%;
        color: white;
        padding: 25px 0;
        i {
          font-size: 35px;
          padding-bottom: 20px;
        }
      }
      div:nth-child(2) {
        background-color: rgba(0, 255, 255, 0.555);
      }
    }
  }
  hr {
    margin: 50px 20px;
  }
  // ------------------------form----------------------------
  form {
    margin: 5px 20px 0 20px;
    label {
      font-size: 15px;
      font-weight: 100;
    }
    input {
      width: 100%;
      padding: 10px 5px;
      font-size: 15px;
    }
    button {
      background-color: black;
      color: white;
      border: none;
      padding: 10px 15px;
      font-size: 17px;
      margin-bottom: 25px;
      i {
        padding-right: 10px;
      }
    }
    button:hover {
      background-color: gray;
      color: black;
    }
  }
  // ----------------------------footer--------------------------
  footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    color: rgba(255, 255, 255, 0.842);
    .footer_wrapper {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      div:first-child {
        h2 {
          padding: 20px 0;
        }
        .powered {
          padding: 15px 0;
          a {
            color: rgba(255, 255, 255, 0.842);
          }
        }
      }
      div:nth-child(2) {
        width: 100%;
        margin: 10px 0;
        .lorem_container {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          div:first-child {
            margin-left: 10px;
            img {
              width: 50px;
            }
          }
          div:last-child {
            font-size: 18px;
            padding-left: 20px;
            padding-right: 4px;
            width: 100%;
          }
        }
        .lorem_container:hover {
          background-color: gray;
        }
        .bottom_line {
          width: 100%;
          border-bottom: 1px solid rgb(226, 226, 226);
          margin: auto;
        }
      }
      .popular_container {
        div:nth-child(2) {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          p {
            background-color: gray;
            padding: 5px;
            margin: 5px 0;
            color: rgb(32, 32, 32);
          }
          p:first-child {
            background-color: black;
            color: rgba(255, 255, 255, 0.863);
          }
        }
      }
    }
    .last_div {
      height: 100px;
      width: 100%;
      background-color: rgb(0, 0, 0);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
